<div class="container">
  <div class="row border-primary">
    <div class="col border">
      <app-b-canvas style="height: 100%"></app-b-canvas>
    </div>
    <div class="col border">
      <div class="row">
        <div class="input-group input-group-sm mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="">Numero de capas internas</span>
          </div>
          <input type="number" [(ngModel)]="netCfg.numLayers">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" (click)="onSetNumLayers()">Modificar</button>
          </div>
        </div>

          <div *ngFor="let num of netCfg.neuronInLayer; let idx = index" class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-sm">Layer {{idx}}</span>
            </div>
            <input type="number" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" [(ngModel)]="netCfg.neuronInLayer[idx]">
          </div>

        <span [hidden]="isUnchanged">changed</span>
        <div class="input-group input-group-sm mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Numero de neuronas tris:</span>
          </div>
          <input type="text" [(ngModel)]="netCfg.v2">
        </div>
        <br>
        <button type="button" class="btn" (click)="onSetCfg()" ngbTooltip="Set network configuration">Set</button>
      </div>

      <div class="row">
        <div class="btn-group btn-group-toggle" ngbRadioGroup [(ngModel)]="netCfg.clasifyNum">
          <ng-container *ngFor="let fun of FuncsClasify; let idx = index; let first = first">
            <label ngbButtonLabel class="btn-primary" ngbTooltip="{{fun.tooltip}}" [(ngModel)]="netCfg.clasifyNum">
              <input ngbButton type="radio" [value]="idx">{{fun.nfo}}
            </label>
          </ng-container>
        </div>
        <pre>{{netCfg.clasifyNum}}</pre>
      </div>
      <div class="row">
        <button type="button" class="btn" (click)="onLearnStep()" ngbTooltip="Realiza un paso de aprendizaje">Learn step</button>
        <button type="button" class="btn" (click)="onTest2()" ngbTooltip="Test">Test</button>
        <button type="button" class="btn" (click)="onLearnStepX100()" ngbTooltip="Test">Learn 100</button>
        <button type="button" class="btn" (click)="onLearnToEnd()" ngbTooltip="Learn">Learn 2 End</button>
      </div>
      <div class="row">
        <span>numEpoch:{{numEpoch}} Error:{{currentError | number}}</span>
        <br>
        <span>Numero de neuronas tris:</span>
        <input type="text" [(ngModel)]="netCfg.v2">
      </div>
      <div class="row border">
        <span>Condiciones fin</span>
        <div class="input-group input-group-sm mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Mínimo valor</span>
          </div>
          <input type="text" [(ngModel)]="netCfg.minError">
        </div>
        <div class="input-group input-group-sm mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Maximas iteracciones</span>
          </div>
          <input type="number" [(ngModel)]="netCfg.maxIteracciones">
        </div>
        <div class="input-group input-group-sm mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Iteracciones en ciclo</span>
          </div>
          <input type="number" [(ngModel)]="netCfg.saltosCiclo">
        </div>
      </div>
      <button type="button" class="btn btn-default btn-lg">
        <span class="glyphicon glyphicon-user"></span>
      </button>
    </div>
  </div>
  <div class="row border">
    <div class="col-8 border">
      <canvas id="canvaschart">{{ chart }}</canvas>
    </div>
    <div class="col border">
      <button type="button" class="btn" (click)="onClearGraph()" ngbTooltip="Clear all graphics">clear</button>
    </div>
  </div>
</div>
